# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
backend/venv/

# Database
*.db

# ChromaDB
chroma_db/

# Uploads
uploads/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log